@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: cursive;
}

@media (max-width: 768px) {
  body {
    font-family: sans-serif;
  }
}

.header-button {
  transition: opacity 0.15s ease, color 0.15s ease;
}

.header-button:hover {
  opacity: 0.85;
}
.footer-icon {
  width: 24px;
  transition: opacity 0.15s ease;
}
.footer-icon:hover {
  opacity: 0.85;
}
